	@font-face {
		font-family: "norwester";
		src: url("fonts/norwester-v1.2/webfont/norwester.ttf");
		font-family: "Pacifico";
		src: url("fonts/pacifico/Pacifico.ttf");
	}

	@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400|Roboto:100,300,400,400i,500');

	* {
		margin: 0;
		padding: 0;
	}

	body {
		font-family: "norwester";
	}

	header {
		background-color: #ff5c5c;
		font-size: 72px;
	}

	main {
		display: grid;
		background-color: #d9d9d9;
	}

	footer {
		background-color: #ff5c5c;
	}

	.coordonnée {
		background-color: #ffbd4a;
	}

	.objectif {
		background-color: #fff952;
	}

	.eProfessionnelle {
		background-color: #ff5c5c;
	}

	.connaissance {
		background-color: #44d9e6;
	}

	.intérêt {
		background-color: #99e265;
	}

	.personnalié {
		background-color: #ff5c5c;
	}
h1 {
	font-family: "pacifico";
}